.photos__grid_fullscreen-vertical-mode {
    width: 433px;
    height: 540px;
    max-width: 75vw;
    max-height: 75vh;
    cursor: initial;
}

@media screen and (max-width: 980.2px) {
    .elements__image_viewing-mode_vertical {
        height: 299px;
    }
}