.popup__image_fullscreen-horizontal-mode {
    width: 816px;
    height: 540px;
    cursor: initial;
}

@media screen and (max-width: 980.2px) {
    .popup__image_fullscreen-horizontal-mode {
        width: 240px;
        height: 299px;
    }
}