.popup__image_fullscreen-mode-horizontal {
    max-width: 75vw;
    max-height: 75vh;
    width: 816px;
    height: 540px;
    cursor: initial;
}

@media screen and (max-width: 980.2px) {
    .popup__image_fullscreen-mode-horizontal {
        height: 299px;
    }
}